{% extends 'blog/base.html' %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
<div class="post-list">
    {% for post in posts %}
        <article class="post-card">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image">
            {% endif %}
            <div class="post-content">
                <h2 class="post-title">
                    <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                </h2>
                <div class="post-meta">
                    <time datetime="{{ post.published_date|date:'Y-m-d' }}">
                        {{ post.published_date|date:"F j, Y" }}
                    </time>
                </div>
                <p class="post-description">{{ post.description }}</p>
                <a href="{% url 'post_detail' post.id %}" class="btn">Read More</a>
            </div>
        </article>
    {% empty %}
        <div class="text-center">
            <p>No posts yet. Check back soon!</p>
        </div>
    {% endfor %}
</div>
{% endblock %} 